.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:news, :index)
      %li.active=link_to pat(:new), url(:news, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:news)
    .inner
      -form_for :news, url(:news, :create), :class => :form do |f|
        =partial "news/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
