.group
  =f.label :author
  =f.error_message_on :author
  =f.text_field :author, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :content
  =f.error_message_on :content
  ~f.text_area :content, :class => :text_area
  %span.description Ex: a simple text

.group
  =f.label :country
  =f.error_message_on :country
  =f.text_field :country, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :email
  =f.error_message_on :email
  =f.text_field :email, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :active
  =f.error_message_on :active
  =f.check_box :active, :class => :check_box
  %span.description Ex: a simple text


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:testimonials, :index)}';return false", :class => :button
