.navbar.navbar-inverse.navbar-fixed-top{ role: 'banner' }
  .navbar-inner
    .container
      %a.btn.btn-navbar{ data: { toggle: 'collapse', target: '.nav-collapse' } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{ href: '/' }
        %img{ src: '/img/logo-bdu.png', alt: 'Big Data University' }
      %ul.nav.pull-right
        %li
          %a.btn.btn-info{ href: "/login", style: 'color:#FFF; margin-right:10px;' } Login
        %li
          %a.btn.btn-warning{ href: "/register", style: 'color:#FFF;' } Register

      .nav-collapse
        %ul.nav
          - %w[ courses acm-icpc resources downloads ].each do |tab|
            - case tab
            - when "acm-icpc"
              %li.disabled{ style: 'display: none;' }
                %a{ href: "/#{tab}" }= tab.upcase
            - else
              %li
                %a{ href: "/#{tab}" }= tab.capitalize
